.scrollContainer {
    height: calc(100vh - 200px);
    overflow-y: auto;
    padding: 1rem;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #ccc #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scrollContainer::-webkit-scrollbar {
    width: 2px;
}

.scrollContainer::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.scrollContainer::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.scrollContainer::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}